body {
  font-family: 'Source Sans Pro', sans-serif;
}

.jumbotron {
  margin: 0;
}

#sticky-bar {
  position: sticky;
  top: 0;
  position: -webkit-sticky;
  z-index: 100;
  padding-top: 10px;
  padding-bottom: 10px;
}

#cardContainer{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  box-sizing: content-box;
  margin: 20px auto 20px auto;
  /* border: 1px solid red; */
  width: 90%;
  justify-content: center;
}

.card {
  margin: 10px;
}

.card-body {
  padding-top: 2px;
  padding-bottom: 2px;
}

.list-group-item {
  padding-top: 1px;
  padding-bottom: 1px;
}

.form-control {
  width: 10px;
}
